body{
  background-color: #53BDC3;
}

p{
  font-family: MONTSERRAT;
  color: white;
  font-weight: 100;
  font-size: 2rem;
  text-shadow: 0px 3px 3px grey;
}

h2{
  font-family: MONTSERRAT;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;

}

h1{
  margin: 0.5rem 0rem;
  font-family: MONTSERRAT;
  font-weight: 200;
  color: white;
  text-shadow: 0px 3px 3px grey;
}


.navbar-brand{
  color: #5C898C;
}

.bg-nav{
  background-color: #42868C;
  font-family: MONTSERRAT;
}

.header {
  padding: 8vh 3%;
  background-color: #53BDC3;

  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: MONTSERRAT;
}

.display-1{
  color:white;
  text-shadow: 0px 3px 3px
  grey;
  font-family: MONTSERRAT;

}

.display-4{
  color:white;
  text-shadow: 0px 3px 3px
  grey;
  font-size: 22px;
  font-family: MONTSERRAT;
  font-weight: 100;
}

.row {
  margin: 100px 0px;
}

.btn-teal {
  background-color: #42868C;
  color: white;
  text-shadow: 0px 3px 3px grey;
  padding:0.5rem 4rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  font-family: MONTSERRAT;
  font-weight:100;

}

.btn-rythm {
  background-color: #42868C;
  color: white;
  text-shadow: 0px 3px 3px grey;
  padding:0.5rem 6rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  font-family: MONTSERRAT;
  font-weight:100;
}

.footer{
  background-color: #4C9BA1;


}

.footer a:hover i{
  color:#53BDC3;
  background-color: white;
}

.footer a:visited i{
  color: #EB8225;
  background-color: #F1D3B5;
}

.footer a:active i{
  color:  white;
  background-color: #EB8225;
}

.fab{
  font-size: 30px;
  color: white;
  border: 3px solid teal;
  padding: 15px;
  border-radius: 50%;
}

.testimonials{
  background-color: #4C9BA1;
  padding: 5rem 0;
  color: white;
  font-family: MONTSERRAT;
  font-weight: 300;
  text-shadow: 0px 3px 3px grey;
}

.testimonials-carousel{
  background-image: url("../images/background.jpg")
}

.text-testimonial{
  color: white;
  margin-top: 20px;
  padding: 1rem;
  font-family: MONTSERRAT;
  text-shadow: 0px 3px 3px grey;
}

blockquote p {
  font-size: 1.5rem;
  color:white;
  font-family: MONTSERRAT;
  font-weight:300;
}

.blockquote-footer {
  font-size: 1.2rem;
  color:white;
  font-family: MONTSERRAT;

}

blockquote footer cite {
  font-size: 1.1rem;
  color:white;
  font-family: MONTSERRAT;
  font-weight: 100;

}

.img-fluid{
  margin-bottom: 10px;
}

.benefits-header{
  color:white;
  margin-bottom: 10px;
  font-family: MONTSERRAT;
  font-weight: 200;
  text-shadow: 0px 3px 3px grey;
}

.row6{
  padding-left: 4rem;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .display-1 {
    font-size: 4rem;
  }
  .btn-teal {
    font-size: 1rem;
  }
  .h1 {
    font-size: 4rem;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .display-1 {
    font-size: 6rem;
  }
  .btn-teal {
    font-size: 2rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
